<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let category of categories" class="nav-item" (click)="onGetCategoryData(category)">
          <a class="nav-link" routerLink="/documents">{{category}}
            <span class="sr-only">(category)</span>
          </a>
        </li>
        <li>
          <a routerLink="/souces" class="nav-link">Sources
            <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div *ngFor="let article of news?.articles">
    <img *ngIf="article.urlToImage" [src]="article.urlToImage" alt=""  height="130" width="180" >
    <div>
      {{article.header}}
      <p>{{article.content}}</p>
   </div>
  </div>