<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati placeat vel laborum minima doloribus aliquid iure
commodi dignissimos accusamus voluptas, et rerum dolore officiis sint! Amet quos fugiat culpa dolores.
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat consectetur magnam expedita praesentium rem possimus.
    Iste commodi dolorem amet molestiae dolores ad quae repudiandae, vel, tempore iusto quas porro tempora!
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat consectetur magnam expedita praesentium rem possimus.
    Iste commodi dolorem amet molestiae dolores ad quae repudiandae, vel, tempore iusto quas porro tempora!
  </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat consectetur magnam expedita praesentium rem possimus.
      Iste commodi dolorem amet molestiae dolores ad quae repudiandae, vel, tempore iusto quas porro tempora!
    </div>
</div>
<p>
  documents works!
</p>
